<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esdllm.agentmesh.repository.dao.KnowledgeBaseDao">

    <resultMap id="BaseResultMap" type="com.esdllm.agentmesh.model.domain.KnowledgeBase">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="is_enabled" property="isEnabled"/>
        <result column="is_delete" property="isDelete"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, name, description, is_enabled, is_delete, create_time, update_time
    </sql>

    <select id="getMyKnowledgeBasesPage" resultType="com.esdllm.agentmesh.model.domain.KnowledgeBase">
        SELECT
        <include refid="Base_Column_List"/>
        FROM knowledge_base
        WHERE user_id = #{userId}
        AND is_delete = 0
        ORDER BY create_time DESC
    </select>

    <select id="getUserKnowledgeBases" resultType="com.esdllm.agentmesh.model.domain.KnowledgeBase">
        SELECT
        <include refid="Base_Column_List"/>
        FROM knowledge_base
        WHERE user_id = #{userId}
        AND is_delete = 0
        ORDER BY create_time DESC
    </select>

</mapper>
